/*--------------Huvudinställningar---------------*/

html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    margin: 0px;
    background-color: #A6C48A;
  }

  .container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }

.container{
    height: 100%;

    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 30px, 30px, auto, 30px;
    grid-template-areas:
        "H H H H H H H H H H H H"
        "N N N N N N N N N N N N"
        ". C C C C C C C C C C ."
        "F F F F F F F F F F F F";
}

.header{
    background-color: #9EADC8;
    color: #0D0A0B;

    display: grid;
    grid-area: H;
}

.nav{
    background-color: #678D58;
    color: #0D0A0B;

   display: grid; 
   grid-area: N;
}

.content{
    background-color: #678D58;
    color: #0D0A0B;

    display: grid;
    grid-area: C;
}

.footer{
    background-color: #00241B;
    color: #0D0A0B;

    display: grid;
    grid-area: F;
}
