/*--------------Huvudinställningar---------------*/

html{
  overflow-y: scroll;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0px;
  font-family: Helvetica, arial, sans-serif;
}

/*----------------Bildformatering----------------------*/

.pics {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px );
  
  gap: 1rem 5rem;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
}

.pics a:hover .figcaption {
  color: lightgreen;
  background: #000;
}


.figcaption {
  font-weight: bold;
  background-color: white;
  font-family: Helvetica, arial, sans-serif;
  border-radius: 3px;
  border: 2px solid black;
  text-align: center;
}

/*Länkar*/

a {
  color: black;
  text-decoration-line: none;
}

/*Sidebar*/

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  padding-top: 50px;
  transition: 0.3s;
  background-color: black;
}

.sidebar a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  position: relative;
  left: 0;
}

.sidebar a:hover {
  color: lightgreen;
}

.sidebar .exit {
  position: absolute;
  top: 0;
  left: auto;
  right: 15px;
  font-size: 35px; 
}

.open {
  font-size: 29px;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  display: inline;
}

#main {
  transition: margin-left .5s;
}


/*----------------Mallen------------------------*/
.container > div {
  justify-content: center;
  align-items: center;
  font-size: 2em;
}


.container{
  height: 100%;
  min-height: 100vh;
  background-color: white;
  
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
  "H H H H H H H H H H H H"
  "N N N N N N N N N N N N"
  ". C C C C C C C C C C ."
  ". C C C C C C C C C C ."
  "F F F F F F F F F F F F";
}

.header{
  background-color: #FDFFFC;
  color: #0D0A0B;
  
  display: grid;
  grid-area: H;
  height: 100px;
}

/*Nav*/

.nav{
  background-color: black;
  color: white;
  
  display: grid; 
  grid-area: N;
  height: auto;
  width: auto;
  padding-top: 0px;
  text-align: center;
}

.links{
  list-style-type: none;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

.links :hover{
  color: lightgreen;
}

.links a {
  color: white;
}

.links li{
  list-style-type: none;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

ul :last-of-type{
  border-right: none;
}

li {
  color: white;
  list-style-type: none;
  display: inline;
  font-size: 29px;
}

@media screen and (max-width: 600px) {
  .nav a{
    float: none;
    border: none;
  }
  .links{
    border: none;
  }
  p{
    font-size: medium;
  }
}

/*tables*/

table{
  width: 70%;
}

.contentjakt{
  background-color: #FDFFFC;
  color: #0D0A0B;
  
  grid-area: C;
  text-align: left;
  padding-bottom: 50px;
  padding-top: 10px;
  padding-left: 30%;
}

.contentjakt a:hover{
  color: darkgreen;
}

.contentjakt p{
  width: 70%;
  font-size: 20px;
}

/*Resten*/

.content{
  background-color: #FDFFFC;
  
  grid-area: C;
  text-align: left;
  padding-bottom: 50px;
  padding-top: 10px;
}

/*Copyright*/

.contentcopy{
  background-color: #FDFFFC;
  color: #0D0A0B;
  
  grid-area: C;
  text-align: left;
  padding-bottom: 50px;
  padding-top: 10px;
}

.contentcopy li{
  color: white;
  display: list-item;
  font-size: 29px;
}

.contentcopy a:hover{
  color: darkgreen;
}


.viltdjur {
  border: 1px solid black;
}
/*footer*/

.footer{
  background-color: #00241B;
  color: #FDFFFC;
  
  grid-area: F;
  text-align: center;
}


.footer a{
  color: white;
}

.footer a:hover{
  color: lightgreen;
}